#hasTitle {
    width: auto;
}
/*Twitter Typeahead styles*/

.tt-dropdown-menu, .gist {
    text-align: left;
}
.twitter-typeahead {
    width: 90%;
}
.twitter-typeahead pre {
    display: none;
}
.twitter-typeahead .empty-message {
    padding: 5px 10px;
    text-align: center;
}
.typeahead, .tt-query, .tt-hint {
    width: 90%!important;
    height: 17px!important;
    padding: 4px 4px!important;
    font-size: 14px!important;
    line-height: 30px;
    border: 2px solid #ccc;
    outline: none;
    padding-bottom: -50px;
}
.contracts-data {
   margin-left: 27%;
}
.typeahead {
    background-color: #fff;
}
.typeahead:focus .tt-query {
    /*    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}
.tt-hint {
    color: #A8A8A8!important;
    margin-top: -1px!important;
    height: 17px!important;
    font-weight: bold;
}
.tt-dropdown-menu {
    width: 90%;
    margin-top: 31px;
    padding: 8px 0;
    margin-bottom: 50px;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    box-shadow: 0 1px 2px #aaa;
    position: relative!important;
    /*box-shadow:0 1px 2px #aaa;*/
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 16px;
}
.highlight-title {
    /*color: #08d;*/
}
.highlight-title.tt-cursor {
    color: #000;
}
.tt-suggestion em {
    color: #000;
    text-decoration: underline;
    font-style: normal;
    /*font-weight: bold;*/
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #676767;
    cursor: pointer;
}
.tt-suggestion.tt-cursor em {
    color: #fff;
    background-color: #676767;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
.uri-suggestion {
    font-weight: 200;
    font-size: 13px;
    margin-left: 15px;
}

.origin-index {
    font-weight: 50;
    font-size: 13px;
    margin-left: 15px;
    /*color: #545454!important;*/
}
/* Fulltext search result page design tweaks */

#show-json-result, #show-query {
    cursor: pointer;
    display: table;
}
.hint--bottom em {
    text-decoration: underline;
}
#filter-list {
    margin: 1em;
}
#filter-list input {
    margin-bottom: 0.5em;
    top: -3px;
}
#filter-list a {
    margin-top: 0.5em;
}

.twoColumn {
    clear: left;
}

.width29 {
    width: 29%;
}

.width69 {
    width: 59%;
}
.margin {
    margin: 0.5%;
}
.float {
    float: left;
}

.indexBox {
    text-align: left;
}

#searchtext-input {
    border-radius: 0px !important;
}
